
<p-dataTable   scrollable="true" frozenWidth="375px"  unfrozenWidth="842px"  [value]="data" [editable]="true"   (onEditComplete)="edit($event)">
  <p-header>
    <h3>Anwesenheit der Klasse {{KName}} von {{von | date: 'dd.MM.yyyy'}} bis {{bis | date: 'dd.MM.yyyy'}}</h3>
  </p-header>
  <ng-container *ngFor="let col of cols">
    <p-column  *ngIf="col.field.startsWith('id') && (col.header.startsWith('Sa.') || col.header.startsWith('So.'))" [editable]="true" [field]="col.field" [header]="col.header" class="wochentag" [style]="{'width':'120px','height':'30px','background-color':'#cccccc'}" >
      <ng-template let-car="rowData" pTemplate="body" let-i="rowIndex">
        <a *ngIf="data[i]['id'+col.field.substr(2)]" class="select" [pTooltip]="data[i]['idkuk'+col.field.substr(2)]" tooltipPosition="top" >{{data[i]['id'+col.field.substr(2)]}}</a>
        <img *ngIf="data[i]['idb'+col.field.substr(2)]" src="../assets/flag.png" class="select" [pTooltip]="data[i]['idb'+col.field.substr(2)]" tooltipPosition="top" />
      </ng-template>
    </p-column>
    <p-column  *ngIf="col.field.startsWith('id') && (!col.header.startsWith('Sa.') && !col.header.startsWith('So.'))" [editable]="true" [field]="col.field" [header]="col.header" class="wochentag" [style]="{'width':'120px','height':'30px'}" >
      <ng-template let-car="rowData" pTemplate="body" let-i="rowIndex">
        <a *ngIf="data[i]['id'+col.field.substr(2)]" class="select" [pTooltip]="data[i]['idkuk'+col.field.substr(2)]" tooltipPosition="top" >{{data[i]['id'+col.field.substr(2)]}}</a>
        <img *ngIf="data[i]['idb'+col.field.substr(2)]" src="../assets/flag.png" class="select" [pTooltip]="data[i]['idb'+col.field.substr(2)]" tooltipPosition="top" />
      </ng-template>
    </p-column>
    <p-column  *ngIf="col.header == 'info'" frozen="true"  [id]="col.id" [field]="" [header]="" [style]="{'width':'75px','text-align':'left'}" >
      <ng-template let-car="rowData" pTemplate="body" let-i="rowIndex">
        <img (click)="infoClick(data[i])" class="select" src="../assets/Info.png" [pTooltip]='"Details "+data[i].VNAME+" "+data[i].NNAME' tooltipPosition="right"/>
        <img (click)="mailClick(data[i])" class="select" src="../assets/mail.png" [pTooltip]='"Mail an "+data[i].VNAME+" "+data[i].NNAME' tooltipPosition="right"/>
      </ng-template>
    </p-column>
    <p-column  *ngIf="col.header == 'empty'" [field]="" [header]="" [style]="{'text-align':'left'}" >
      <ng-template let-car="rowData" pTemplate="body">
      </ng-template>
    </p-column>
    <p-column  *ngIf="col.field == 'VNAME'" [id]="col.id" frozen="true" [field]="col.field" [header]="col.header" [style]="{'width':'150px','height':'30px','text-align':'left'}" ></p-column>
    <p-column  *ngIf="col.field == 'NNAME'" [id]="col.id" frozen="true"  [field]="col.field" [header]="col.header" [style]="{'width':'150px','height':'30px','text-align':'left'}" ></p-column>
  </ng-container>
</p-dataTable>
<sendmail #mailDialog [mail]="mailObject"></sendmail>
<pupildetails #infoDialog ></pupildetails>


