.links {text-align: left;}

.select {
  cursor: pointer;
}

.parseErrors {
  border-radius: 8px;
  background: #F05F40;
  padding: 1px;
  color: black;
  margin: 5px;
  font-size: 11px;
  white-space:nowrap;
  float: left;
  cursor: pointer;
}
.fehltagEntschuldigt {
  border-radius: 8px;
  background: #009245;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  font-size: 11px;
  color: white;
  white-space:nowrap;
  float: left;
cursor: pointer;
}

.fehltagUnentschuldigt {
  border-radius: 8px;
  margin: 5px;
  background: #ac2925;
  font-size: 11px;
  padding: 1px;
  color: white;
  white-space:nowrap;

  padding-left: 5px;
  padding-right: 5px;
  float: left;
  cursor: pointer;
}

