<button *ngIf="role=='Admin'" pButton type="button" (click)="newPupil()" icon="fa-plus-circle" label="new"></button>
<p-pickList  (onMoveAllToTarget)="moveAllToTaget($event)" (onMoveToTarget)="moveToTarget($event)"  (onMoveToSource)="moveToSource($event)"  [source]="allPupils" [target]="coursePupils" sourceHeader="Alle Schüler" [targetHeader]="courseName" [responsive]="true" filterBy="NNAME,VNAME"
            dragdrop="true" dragdropScope="cars" sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">

  <ng-template let-pupil pTemplate="item">
    <div style="text-align: left;">
      <img (click)="editPupil(pupil)" src="../assets/setting.png" style="vertical-align :middle;cursor: help;"/>
      <span *ngIf="pupil.ABGANG=='N'">{{pupil.VNAME}} {{pupil.NNAME}}</span>
      <span *ngIf="pupil.ABGANG!='N'"><i>{{pupil.VNAME}} {{pupil.NNAME}} (ABGANG)</i></span>
    </div>
  </ng-template>

</p-pickList>
<pupileditdetails #editDialog (newCompleted)="newCompleted($event)" (editCompleted)="editCompleted($event)"></pupileditdetails>
