<p-dataList [value]="verlauf" >
  <p-header>
    <h3>Unterrichtverlauf der Klasse {{KName}} von {{from | date: 'dd.MM.yyyy'}} bis {{to | date: 'dd.MM.yyyy'}}</h3>
    <span class="ui-inputgroup-addon"><i class="fa fa-filter"></i></span>
    <input type="text" (keyup)="filterChanged()"  [(ngModel)]="filter" pInputText placeholder="Filter">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-1 links" >
        <strong>Datum</strong>
      </div>
      <div class="ui-md-1 links" >
        <strong>Lehrer</strong>
      </div>
      <div class="ui-md-1 links" >
        <strong>Std./ LF</strong>
      </div>
      <div class="ui-md-3 links" >
        <strong>Inhalt</strong>
      </div>
      <div class="ui-md-3 links" >
        <strong>Bemerkungen</strong>
      </div>
      <div class="ui-md-3 links" >
        <strong>Lernsituation</strong>
      </div>
    </div>
  </p-header>
  <ng-template let-verlauf pTemplate="item" let-i="index">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-1 links" >
        {{verlauf.wochentag}}{{verlauf.DATUM |  date: 'dd.MM.yyyy'}}
      </div>
      <div class="ui-md-1 links" >
        {{verlauf.ID_LEHRER}}
        <img *ngIf="verlauf.ID_LEHRER==IDLehrer" (click)="delete(verlauf,i)" class="del" src="../assets/del.png" width="16" height="16">
        <img *ngIf="verlauf.ID_LEHRER==IDLehrer" (click)="edit(verlauf,i)" class="edit" src="../assets/edit.png" width="16" height="16">

      </div>
      <div class="ui-md-1 links" >
        {{verlauf.STUNDE}} / {{verlauf.ID_LERNFELD}}
      </div>
      <div class="ui-md-3 links" >
        {{verlauf.INHALT}}
      </div>
      <div class="ui-md-3 links" >
        {{verlauf.BEMERKUNG}}
      </div>
      <div class="ui-md-3 links" >
        {{verlauf.AUFGABE}}
      </div>
    </div>
  </ng-template>
</p-dataList>
<deleteverlauf (deleteVerlauf)="confirmDelete($event)" #deleteDialog></deleteverlauf>

